body {
    margin: 0;
    background-color: #000;
    overflow-y: hidden;
    font-family: 'Cutive Mono', Verdana, sans-serif;
    color: #ddd;
}

a {
    color: #ddd;
}

.mainContent {
    background: url('/images/palinkafozo_hatter.jpg') no-repeat top center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.head {
    /*margin-top: 10px;*/
    margin-left: 40px;
}

.headLeft {
    background: url('/images/predikator_leparlo_logo.png') no-repeat center top;
    width: 26.35%;
    height: 247px;
    float: left;
    position: relative;
    top: 10px;
    left: 13px;
    z-index: 2;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.headCenter {
    background: url('/images/palinkafozo_fejlec.png') no-repeat center top;
    width: 46.74%;
    height: 144px;
    float: left;
    position: relative;
    top: 5px;
    z-index: 2;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.headRight {
    background: url('/images/leparlo_menudisz.png') no-repeat center top;
    width: 22.9%;
    height: 99px;
    float: left;
    position: relative;
    top: 25px;
    z-index: 2;
    left: 23px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.content-left-wrapper {
    background: url('/images/leparlokeszulek.jpg') no-repeat center top;
    float: left;
    width: 21.95%;
    height: 341px;
    position: relative;
    top: -65px;
    left: 90px;
    z-index: 2;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.content-left-wrapper .gallery-wrapper {
    position: relative;
    margin: 25px 2px 0 20px;
    height: 291px;
    text-align: center;
    padding-right: 14px;
}
.content-left-wrapper .gallery-wrapper a img {
    margin-bottom: 5px;
    max-width: 180px;
}

.content-center-wrapper {
    background: url('/images/palinkafozo_tartalom.jpg') no-repeat center top;
    float: left;
    width: 49.8%;
    height: 517px;
    position: relative;
    z-index: 1;
    top: -150px;
    /*left: 25px;*/
    left: 35px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.content-center-wrapper .page {
    margin: 20px 4px 0 20px;
    padding-left: 40px;
    padding-right: 20px;
    height: 438px;
    max-height: 438px;
    display: none;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.content-center-wrapper .page.active {
    display: block;
}

.content-center-wrapper .page-6 {
    text-align: center;
}

.content-right-wrapper {
    background: url('/images/leparlokeszulek_menu_hetter.jpg') no-repeat center top;
    float: left;
    width: 21.37%;
    height: 342px;
    position: relative;
    z-index: 101;
    top: -121px;
    left: 50px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.content-right-wrapper ul {
    padding: 0;
    margin-left: -20px;
    list-style-type: none;
    margin-top: 20px;
}

.content-right-wrapper ul li {
    height: 35px;
    cursor: pointer;
}

.content-right-wrapper ul li .lamp {
    /*background: url('/images/lampa_inactive.png') no-repeat left top;*/
    width: 100px;
    height: 38px;
    float: left;
}

// .content-right-wrapper ul li:active .lamp {
    /*background: url('/images/lampa_animation.gif') no-repeat left top;*/
    // width: 86px;
    // height: 38px;
}

.content-right-wrapper ul li .menubg {
    background: url('/images/menu.png') no-repeat left top;
    width: 106px;
    height: 38px;
    margin-left: -20px;
    color: #fff;
    float: left;
    line-height: 2.5em;
    padding-left: 10px;
    color: #ddd;
    font-weight: bold;
}
.content-right-wrapper ul li:nth-child(5) .menubg {
    letter-spacing: -1px;
}


.content-right-wrapper ul li:hover .menubg {
    background: url('/images/menu_hover.png') no-repeat left top;
}

.content-right-wrapper ul li .menubg.active {
    background: url('/images/menu-active.png') no-repeat left top;
    color: #fff;
}

.content-right-wrapper ul li .gomb {
    background: url('/images/gomb_inactive.png') no-repeat left center;
    width: 20px;
    height: 38px;
    float: left;
}

.content-right-wrapper ul li .gomb.active {
    background: url('/images/gomb_active.png') no-repeat left center;
}

.clearfix {
    clear: both;
}

#beep-three {
    display: none;
}

.fust {
    display: none;
    background: transparent;
    /*background-size: 100%;*/
    width: 257px;
    height: 300px;
    /*    max-width: 1px;
        max-height: 1px;*/
    position: absolute;
    z-index: 100;
}

@media (max-width: 900px) {
    .content-left-wrapper {
        top: -96px;
        left: 69px;
    }
}

@media (max-width: 800px) {
    .content-left-wrapper {
        top: -112px;
        left: 66px;
        width: 21.6%;
    }
}

@media (max-width: 370px) {
    .content-left-wrapper {
        top: -183px;
        left: 51px;
        width: 20.3%;
    }
    .content-center-wrapper {
        top: -210px;
        left: 33px;
    }
    .content-right-wrapper {
        width: 14.5%;
        top: -199px;
        left: 38px;
    }
    .headRight {
        width: 17.9%;
        left: 26px;
    }
}

/* Scrollbar mods */

.ps-container:hover>.ps-scrollbar-y-rail,
.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail,
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail,
.ps-container:hover>.ps-scrollbar-y-rail:hover {
    background-color: transparent;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y,
.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #b98850;
    box-shadow: 0px 0px 2px 2px #5A390F;
}

.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #C09260;
}

.credits {
    position: relative;
    top: -120px;
    text-align: center;
    color: #D2BD99;
    font-size: 10px;
}

.credits a {
    color: #D2BD99;
}

/* Smoke canvas setup */

#smoke-1 {
    width: 800px;
    height: 140px;
}
